.tab-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #bae0ff;

  .tab {
    display: flex;
    background-color: #bae0ff;
    padding: 10px 10px 0 10px;
    font-size: 14px;
    max-width: 85%;
    min-height: 36.5px;
    transition: padding-left 0.3s ease-in-out;

    &.min-screen {
      padding-left: 100px;
    }
  }

  .tool-bar {
    flex: 1;
    .add-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      transform: translateY(5px);
      cursor: pointer;
      transition: background-color;

      &:hover {
        background-color: #e6f4ff;
      }

      .plus {
        font-size: 16px;
      }
    }
  }
}
